{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">CLIENT EXAM2</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'todo_api_client:userprofile_list' %}">INICIO</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    USERS
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:userprofile_list' %}">List USERS</a></li>
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:userprofile_create' %}">Create Users</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    TASKS
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:list_todo' %}">List Task</a></li>
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:todo_create' %}">Create Task</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:todo_list_ids' %}">List Task IDs</a></li>
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:todo_list_ids_titles' %}">List Task IDs & Titles</a></li>
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:todo_list_unresolved' %}">List Unresolved Tasks</a></li>
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:todo_list_resolved' %}">List Resolved Tasks</a></li>
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:todo_list_ids_user' %}">List Task IDs & User IDs</a></li>
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:todo_list_resolved_user' %}">List Resolved Task IDs & User IDs</a></li>
                                    <li><a class="dropdown-item" href="{% url 'todo_api_client:todo_list_unresolved_user' %}">List Unresolved Task IDs & User IDs</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    TASKS_API
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/todo/todos/ids/">List Task IDs</a></li>
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/todo/todos/ids-titles/">List Task IDs & Titles</a></li>
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/todo/todos/unresolved/">List Unresolved Tasks</a></li>
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/todo/todos/resolved/">List Resolved Tasks</a></li>
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/todo/todos/ids-user/">List Task IDs & User IDs</a></li>
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/todo/todos/resolved-user/">List Resolved Task IDs & User IDs</a></li>
                                    <li><a class="dropdown-item" href="http://127.0.0.1:8000/todo/todos/unresolved-user/">List Unresolved Task IDs & User IDs</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            {% block left %}
            {% endblock left %}
        </div>
        <div class="col-8">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
