{% extends 'base.html' %}

{% block title %}Delete Task{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Delete Task</h1>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{{ todo.task_title }}</h5>
            <p class="card-text">Description: {{ todo.task_description }}</p>
            <p class="card-text">Assigned to: {{ todo.assigned_user.first_name }} {{ todo.assigned_user.last_name }}</p>
            <p class="card-text">Status: {{ todo.task_status }}</p>
            <p class="card-text">Created at: {{ todo.created_at }}</p>
            <p class="card-text">Deadline: {{ todo.deadline }}</p>
            <p class="card-text">Priority: {{ todo.get_task_priority_display }}</p>
            <p class="card-text">Progress: {{ todo.task_progress }}</p>
            <p class="card-text">Active: {% if todo.is_active %} Yes {% else %} No {% endif %}</p>
        </div>
    </div>
    <p>Are you sure you want to delete this task?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Task</button>
        <a href="{% url 'todo_api_client:todo_detail' todo.id %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
