{% extends 'base.html' %}

{% block title %}Task Detail{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Task Detail</h1>
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">{{ todo.task_title }}</h5>
            <p class="card-text">Description: {{ todo.task_description }}</p>
            <p class="card-text">Assigned to: {{ todo.assigned_user.first_name }} {{ todo.assigned_user.last_name }}</p>
            <p class="card-text">Status: {{ todo.task_status }}</p>
            <p class="card-text">Created at: {{ todo.created_at }}</p>
            <p class="card-text">Deadline: {{ todo.deadline }}</p>
            <p class="card-text">Priority: {{ todo.get_task_priority_display }}</p>
            <p class="card-text">Progress: {{ todo.task_progress }}</p>
            <p class="card-text">Active: {% if todo.is_active %} Yes {% else %} No {% endif %}</p>
        </div>
    </div>
    <a href="{% url 'todo_api_client:list_todo' %}" class="btn btn-primary">Back to Task List</a>
    <a href="{% url 'todo_api_client:todo_update' todo.id %}" class="btn btn-warning">Edit Task</a>
    <form method="post" action="{% url 'todo_api_client:todo_delete' todo.id %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Task</button>
    </form>
</div>
{% endblock %}
