<!-- todo_api_client/templates/home.html -->

{% extends 'base.html' %}

{% block title %}Lista de Tareas{% endblock %}

{% block content %}
<h1>Lista de Tareas</h1>
<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">ID: {{ task.id }} - Título: {{ task.task_title }}</li>
    {% endfor %}
</ul>
{% endblock %}
