{% extends 'base.html' %}

{% block title %}Update User Profile{% endblock title %}

{% block content %}
<h1>Update User Profile</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Update</button>
</form>
{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}
{% endblock %}
