{% extends 'base.html' %}

{% block title %}Delete User Profile{% endblock title %}

{% block content %}
<h1>Delete User Profile</h1>
<p>Are you sure you want to delete this profile?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'todo_api_client:userprofile_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
