{% extends 'base.html' %}

{% block title %}User Profiles{% endblock title %}

{% block content %}
<h1>User Profiles</h1>
<br>
<a href="{% url 'todo_api_client:userprofile_create' %}" class="btn btn-success">Create New Profile</a>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Area</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for profile in profiles %}
        <tr>
            <td>{{ profile.id }}</td>
            <td>{{ profile.email }}</td>
            <td>{{ profile.first_name }}</td>
            <td>{{ profile.last_name }}</td>
            <td>{{ profile.area }}</td>
            <td>
                <a href="{% url 'todo_api_client:userprofile_detail' profile.id %}" class="btn btn-primary">View</a>
                <a href="{% url 'todo_api_client:userprofile_update' profile.id %}" class="btn btn-secondary">Edit</a>
                <a href="{% url 'todo_api_client:userprofile_delete' profile.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
