{% extends 'base.html' %}

{% block title %}Create User Profile{% endblock title %}

{% block content %}
<h1>Create User Profile</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Create</button>
</form>
{% if error %}
<p class="text-danger">{{ error }}</p>
{% endif %}
{% endblock %}
