{% extends 'base.html' %}

{% block title %}User Profile Detail{% endblock title %}

{% block content %}
<h1>User Profile Detail</h1>
{% if profile %}
<p>ID: {{ profile.id }}</p>
<p>Username: {{ profile.username }}</p>
<p>Email: {{ profile.email }}</p>
<p>First Name: {{ profile.first_name }}</p>
<p>Last Name: {{ profile.last_name }}</p>
<p>Area: {{ profile.area }}</p>
<a href="{% url 'todo_api_client:userprofile_update' profile.id %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'todo_api_client:userprofile_delete' profile.id %}" class="btn btn-danger">Delete</a>
{% else %}
<p>Profile not found.</p>
{% endif %}
{% endblock %}
