{% extends 'base.html' %}

{% block title %}To-Do List{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">To-Do List</h1>
    <ul class="list-group mb-4">
   
        <center> <a href="{% url 'todo_api_client:todo_create' %}" class="btn btn-primary">Create New Task</a></center>
        <br>
        {% for todo in todos %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-1">{{ todo.task_title }}</h5>
                <p class="mb-1">{{ todo.task_description }}</p>
                {% if todo.assigned_user %}
                <p class="mb-1">Assigned to: {{ todo.assigned_user.first_name }} {{ todo.assigned_user.last_name }}</p>
                {% else %}
                <p class="mb-1">Assigned to: Not assigned</p>
                {% endif %}
            </div>
            <div>
                <span class="badge bg-primary rounded-pill">{{ todo.task_status }}</span>
                <p class="mb-1">Created at: {{ todo.created_at }}</p>
                <p class="mb-1">Deadline: {{ todo.deadline }}</p>
                {% if todo.task_progress is not None %}
                <div class="progress mb-2" style="height: 20px;">
                    <div class="progress-bar" role="progressbar" style="width: {{ todo.task_progress }}%;" aria-valuenow="{{ todo.task_progress }}" aria-valuemin="0" aria-valuemax="100">
                        {{ todo.task_progress }}%
                    </div>
                </div>
                {% endif %}
                <div class="btn-group" role="group" aria-label="Task Actions">
                    <a href="{% url 'todo_api_client:todo_detail' todo.id %}" class="btn btn-info">Detail</a>
                    <a href="{% url 'todo_api_client:todo_update' todo.id %}" class="btn btn-warning">Update</a>
                    <a href="{% url 'todo_api_client:todo_delete' todo.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
