{% extends 'base.html' %}

{% block title %}To-Do List - IDs and User ID{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">To-Do List - IDs and User ID</h1>
    <ul class="list-group mb-4">
        {% for todo in todos %}
        <li class="list-group-item">
            Task ID: {{ todo.id }} - User ID: {{ todo.user_id }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
