{% extends 'base.html' %}

{% block title %}Delete To-Do Task{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Delete To-Do Task</h1>
    <p>Are you sure you want to delete this task?</p>
    <p><strong>Task Title:</strong> {{ todo.task_title }}</p>
    <p><strong>Description:</strong> {{ todo.task_description }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Task</button>
        <a href="{% url 'todo_api_client:list_todo' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
