{% extends 'base.html' %}

{% block title %}Create To-Do{% endblock %}

{% block content %}
<h1>Create To-Do</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<a href="{% url 'todo_api_client:list_todo' %}" class="btn btn-secondary">Back to List</a>
{% endblock %}
