{% extends 'base.html' %}

{% block title %}Update Task{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Update Task</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Task</button>
        <a href="{% url 'todo_api_client:list_todo' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
